@charset "UTF-8";
body {
  font-family: "游明朝", "YuMincho", "Yu Mincho", "Noto Serif JP", "Hiragino Mincho Pro", serif;
  font-size: 20px;
  color: #555;
}

.pt_lg, .about, .room, .access, .question, .contact, .footer__info__right {
  padding-top: 40px;
}

.pt_md, .menu {
  padding-top: 20px;
}

.mb_md, .sub_title, .access__text, .contact__text {
  margin-bottom: 30px;
}

.dn_sp {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.sub_title {
  font-size: 15px;
  font-weight: 700;
  color: #225f94;
  text-align: center;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__slider {
  width: 100vw;
  height: 60vh;
  background-position: center center;
  background-size: cover;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header__head > h1 img {
  width: 150px;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.header__head .menu_nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.9);
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  padding-right: 50px;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
}

.header__head .menu_nav > ul > li {
  margin-bottom: 40px;
  text-align: right;
}

.header__head .menu_nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.header__book_btn {
  display: block;
  width: 120px;
  height: 35px;
  font-size: 13px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  background: #225f94;
  margin-right: 40px;
  margin-left: 10px;
  z-index: 30;
}

.header .btn_trigger {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  z-index: 30;
}

.header .btn_trigger > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #383838;
  border-radius: 4px;
}

.header .btn_trigger > span:nth-last-of-type(1) {
  top: 0;
}

.header .btn_trigger > span:nth-last-of-type(2) {
  top: 8px;
}

.header .btn_trigger > span:nth-last-of-type(3) {
  bottom: 0;
}

.header .btn_trigger,
.header .btn_trigger > span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header #btn_active > span:nth-last-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

.header #btn_active > span:nth-last-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-btn-bar02 0.8s forwards;
          animation: active-btn-bar02 0.8s forwards;
}

.header #btn_active > span:nth-last-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}

@-webkit-keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 20px;
}

.header .scroll {
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 60vh;
  z-index: 1;
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.header .scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #fff;
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.menu {
  margin: 0;
}

.menu .section_container {
  width: 100%;
  margin-bottom: 20px;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.menu img {
  width: 70%;
  padding: 10px 20px;
}

.news {
  background: #f2f0f0;
  padding: 20px;
}

.news__container {
  display: block;
  text-align: center;
}

.news__left {
  margin-right: 1px;
  margin-left: 0;
  border-right: 1px solid #ded8d5;
}

.news__left > h2 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 10px;
}

.news__left > p {
  font-size: 14px;
  color: #9c867a;
}

.news__right {
  border-left: 1px solid #fff;
}

.news__right ul {
  margin-top: 23px;
}

.news__right a {
  text-decoration: none;
}

.news__right dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 25px;
}

.news__right dl dt {
  font-size: 14px;
  color: #91786c;
  margin: 0 10px 0 0;
}

.news__right dl dd {
  font-size: 14px;
  color: #555;
  text-align: left;
}

.about {
  text-align: center;
}

.about__concept {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 0 30px;
}

.about__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-align: left;
  padding: 20px 20px 40px 20px;
}

.about img {
  width: 100%;
}

.about iframe {
  width: 90%;
  height: 280px;
}

.room {
  background: #f2f0f0;
  padding-bottom: 20px;
}

.room .section_container {
  width: 100%;
}

.room__img_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room__img_row > img {
  width: 100%;
}

.room__text {
  margin-left: 30px;
}

.room__text h3 {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-right: 20px;
}

.room__text p {
  font-size: 16px;
  line-height: 1.5;
  margin-right: 20px;
  margin-bottom: 30px;
}

.room__btns {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.room__btns > a {
  display: block;
  width: 100%;
  height: 75px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding-top: 18px;
  margin-bottom: 20px;
}

.room__btns > a > span {
  display: block;
  font-size: 14px;
  margin-top: 9px;
}

.room__btns .book_btn {
  background: #1d4e79;
}

.room__btns .review_btn {
  background: #775947;
}

.access {
  text-align: center;
  margin-bottom: 135px;
}

.access__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: 20px;
  padding: 0 20px;
}

.access iframe {
  width: 100%;
}

.availability {
  text-align: center;
}

.availability .calender {
  margin-top: 50px;
  margin-bottom: 55px;
}

.availability .calender iframe {
  width: 90%;
  height: 380px;
}

.availability__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  padding: 0 20px;
}

.question {
  background: #fafafa;
  padding-bottom: 50px;
}

.question .section_container {
  width: 100%;
  padding: 0 20px;
}

.question .section_container .q_box {
  height: 60px;
  font-size: 19px;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 17px;
}

.question .section_container .q_box:hover {
  cursor: pointer;
}

.question .section_container .q_box > p {
  display: inline-block;
  position: relative;
  background: url(../images/question-arrow.png) no-repeat center left;
  font-size: 15px;
  padding-left: 15px;
}

.question .section_container .a_box {
  height: 60px;
  font-size: 14px;
  background: #f2f0f0;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  padding-top: 18px;
  padding-left: 20px;
  display: none;
}

.question .section_container .a_box.small_text {
  height: 85px;
  font-size: 13px;
}

.contact {
  background: #fafafa;
}

.contact__text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 10px;
  padding: 0 20px;
}

.contact__forms {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.contact__forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px dotted #e4e4e4;
}

.contact__forms form .label_box {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 20px;
  padding-left: 12px;
}

.contact__forms form .label_box > label {
  font-size: 15px;
  line-height: 50px;
  margin-left: 10px;
}

.contact__forms form .label_box > span {
  width: 44px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #ff7372;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.contact__forms form > input {
  display: block;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  padding-left: 12px;
  border: 2px solid #d9d9d9;
}

.contact__forms form > input::-webkit-input-placeholder {
  color: #ddd;
}

.contact__forms form > input:-ms-input-placeholder {
  color: #ddd;
}

.contact__forms form > input::-ms-input-placeholder {
  color: #ddd;
}

.contact__forms form > input::placeholder {
  color: #ddd;
}

.contact__forms form > textarea {
  display: block;
  width: 100%;
  border: 2px solid #d9d9d9;
  margin: 0 auto;
}

.contact__forms form.contact__submit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__forms form.contact__submit .submit_btn {
  width: 100%;
  height: 55px;
  color: #fff;
  background: #1d4e79;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__forms form.contact__submit .submit_btn:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer {
  background: #225f94;
}

.footer .snsicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .snsicons i {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  border-radius: 50%;
  background: #1d4e79;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #fff;
  margin-bottom: 30px;
  padding: 0 20px;
}

.footer__info > h2 {
  margin: 30px auto 0 auto;
}

.footer__info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

.footer__info__right ul > li {
  margin-bottom: 12px;
}

.footer__info__right ul > li > a {
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.08em;
  text-decoration: none;
}

.footer .copyright {
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.08em;
  text-align: center;
  padding-bottom: 40px;
}

/* 作業用 */
header {
  /* display: none; */
}

.menu {
  /* display: none; */
}

#news {
  /* display: none; */
}

#about {
  /* display: none; */
}

#room {
  /* display: none; */
}

#access {
  /* display: none; */
}

#availability {
  /* display: none; */
}

#question {
  /* display: none; */
}

#contact {
  /* display: none; */
}

@media (min-width: 600px) {
  /* General */
  .section_title {
    font-size: 30px;
  }
  .sub_title {
    font-size: 20px;
  }
  .dn_sp {
    display: block;
  }
  .header__slider {
    height: 100vh;
  }
  .header__slider h1 img {
    width: 250px;
    margin-top: 7px;
    margin-left: 50px;
  }
  .header__head .menu_nav {
    width: 40%;
    padding-left: 50px;
  }
  .header .scroll {
    bottom: 0vh;
  }
  .header__book_btn {
    width: 220px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin-right: 50px;
  }
  .menu {
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .menu .section_container {
    margin: 0 auto;
  }
  .menu__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .menu__item img {
    width: 100%;
  }
  .news {
    padding-top: 30px;
    padding-bottom: 28px;
    background: #f2f0f0;
  }
  .news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .news__left {
    padding-right: 50px;
    padding-left: 50px;
  }
  .news__right dt {
    margin-right: 15px;
    margin-left: 58px;
  }
  .news__right dd {
    font-size: 16px;
  }
  .about__text {
    text-align: center;
    padding: 40px 40px 60px 40px;
  }
  .about iframe {
    height: 400px;
  }
  .room__btns > a {
    width: 80%;
    margin: 0 auto 20px auto;
  }
}

@media (min-width: 960px) {
  .pt_lg, .about, .room, .access, .question, .contact, .footer__info__right {
    padding-top: 90px;
  }
  .mb_md, .sub_title, .access__text, .contact__text {
    margin-bottom: 60px;
  }
  .dn_pc {
    display: none;
  }
  .menu__row {
    max-width: 1240px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .menu__item img {
    width: 100%;
    padding: 10px;
  }
  .news__left {
    margin-left: 245px;
  }
  .news__left > h2 {
    font-size: 24px;
    margin-right: 60px;
  }
  .news__left > p {
    font-size: 16px;
  }
  .about {
    max-width: 1240px;
    margin: 0 auto;
  }
  .about__concept {
    font-size: 24px;
  }
  .about__text {
    font-size: 20px;
  }
  .about img {
    width: 80%;
    margin-bottom: 60px;
  }
  .about iframe {
    width: 80%;
    height: 570px;
  }
  .room {
    padding-bottom: 50px;
    padding-bottom: 60px;
  }
  .room .section_container {
    max-width: 1180px;
    margin: 0 auto;
  }
  .room__img_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .room__img_row > img {
    max-width: 590px;
  }
  .room__img_row.image_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .room__img_row.image_right .room__text {
    text-align: right;
    margin-right: 26px;
  }
  .room__text h3 {
    margin-top: 85px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .room__text h3 .first_title {
    margin-top: 105px;
  }
  .room__text p {
    font-size: 18px;
    line-height: 1.8;
  }
  .room__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .room__btns > a {
    width: 370px;
    font-size: 18px;
    margin: 0;
  }
  .room__btns .book_btn {
    margin-right: 90px;
  }
  .availability .calender {
    width: 960px;
    margin: 0 auto 20px auto;
  }
  .availability .calender iframe {
    width: 800px;
    height: 560px;
  }
  .availability__text {
    margin-bottom: 160px;
  }
  .question .section_container {
    width: 1000px;
    margin: 0 auto;
  }
  .question .section_container .q_box > p {
    background: url(../images/question-arrow.png) no-repeat center left 5px;
    padding-left: 30px;
  }
  .question .section_container .small_text {
    font-size: 15px;
    letter-spacing: -0.05em;
  }
  .contact__text {
    margin-top: 20px;
    margin-bottom: 68px;
    text-align: center;
  }
  .contact__forms {
    width: 940px;
  }
  .contact__forms form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__forms form .label_box {
    width: 240px;
    height: 72px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__forms form .label_box > label {
    font-size: 16px;
    line-height: 72px;
  }
  .contact__forms form > input {
    width: 690px;
    margin-right: 10px;
    margin-top: 12px;
    padding-left: 10px;
  }
  .contact__forms form > textarea {
    width: 690px;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .contact__forms form.contact__submit .submit_btn {
    width: 310px;
    margin: 80px auto 115px auto;
  }
  .footer .snsicons {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .snsicons i {
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
  .footer__info > h2 {
    margin-top: 87px;
    margin-left: 120px;
  }
  .footer__info__right {
    margin-right: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__info__right ul {
    margin-right: 60px;
  }
  .footer__info__right ul > li {
    margin-bottom: 23px;
  }
  .footer__info__right ul > li > a {
    font-size: 18px;
  }
  .footer .copyright {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */